/* Min Width 1600px */
@media only screen and (min-width: 1600px){
    .container{
        max-width: 1550px !important;
    }

    .search input{
        width: 375px !important;
    }

    .table-sorting-wpr{
        gap: 150px;
    }

    table.nf-table th:first-child{
        padding-left: 90px !important;
    }

    table.nf-table td:first-child{
        padding-left: 90px !important;
    }
}

/* Min Width 1400px */
@media only screen and (min-width:1400px){

    .header-left{
        gap: 40px;
    }

    .search input{
        width: 290px;
    }

    .nav-menu{
        gap: 60px;
    }

    .header-right .btn{
        width: 200px;
        padding: 0;
    }

    .table-sorting-wpr{
        gap: 40px;
    }

}

/* Min Width 1200px */
@media only screen and (min-width:1200px){

    .container{
        max-width: calc(100% - 160px);
    }

    table.nf-table th:first-child{
        padding-left: 50px;
    }

    table.nf-table td:first-child{
        padding-left: 50px;
    }

}


/* Min Width 992px */

@media only screen and (min-width:992px){

    .nf-main-nav{
        display: block !important;
    }

}

/* Max Width 1199px */

@media only screen and (max-width:1199px){

    .header-left{
        gap: 16px;
    }

    .nav-menu{
        gap: 24px;
    }

    .header-right{
        gap: 16px;
    }

    .header-right .btn{
        padding: 0 24px;
    }

    .table-toolbar{
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        margin: 32px 0;
    }

    .table-sorting-wpr{
        width: 100%;
        justify-content: space-between;
    }
}

/* Max Width 1099px */
@media only screen and (max-width:1099px){

    .project-slider .project-content{
        margin-top: 112px;
    }

    .project-slider .owl-nav{
        left: 494px;
    }

    .project-slider .project-name{
        top: 20px;
        right: -254px;
        font-size: 60px;
    }
}

/* Max Width 1024px */
@media only screen and (max-width:1024px){

    .project-slider .project-content{
        margin-top: 100px;
    }

    .project-slider .owl-nav{
        left: 48%;
    }

    .project-slider .project-name{
        top: 10px;
    }
}

/* Max Width 991px */

@media only screen and (max-width:991px){

    .container{
        max-width: 90% !important;
    }

    .nf-table-wpr{
        padding-bottom: 50px;
    }

    table.nf-table{
        display: block;
    }

    /* Mobile Nav End */

    .nav-toggle{
        display: inline-block;
        width: 48px;
        height: 48px;
        background-color: var(--secondary-color);
        border-radius: 10px;
        text-align: center;
        line-height: 56px;
        cursor: pointer;
    }

    .nav-toggle i{
        font-size: 24px;
        text-indent: 2px;
    }

    .nf-main-nav{
        position: absolute;
        top: calc(100% + 20px);
        left: 0;
        display: none;
        width: 100%;
        background-color: var(--primary-color);
        border: 1px solid var(--white-color);
        padding: 8px 24px;
        z-index: 100;
    }

    .nav-menu{
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .nav-menu a{
        width: 100%;
        border-bottom: 1px dashed var(--secondary-color);
        padding: 8px 0;
    }

    .nav-menu a:last-child{
        border-bottom: 0;
    }

}

/* Max Width 767px */
@media only screen and (max-width:767px){

    .container{
        max-width: 95% !important;
    }

    .logo img{
        width: 40px;
    }

    .search img{
        width: 16px;
        top: 12px;
        left: 8px;
    }

    .search input{
        font-size: 14px;
        width: 200px;
        border-radius: 5px;
        padding: 8px 8px 8px 32px;
    }

    .search input::placeholder{
        font-size: 14px;
    }

    .header-right .icon img{
        width: 20px;
    }

    .header-right .btn{
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        border-radius: 5px;
        padding: 0 16px;
    }

    .nav-toggle{
        width: 40px;
        height: 40px;
        line-height: 45px;
        border-radius: 5px;
    }

    .nav-toggle i{
        font-size: 20px;
    }

    .table-toolbar h2{
        font-size: 35px;
    }

    .table-sorting-filter p{
        font-size: 16px;
    }

    .table-sorting-filter select{
        font-size: 16px;
    }

    table.nf-table th,
    table.nf-table td{
        font-size: 16px;
    }
    
}

/* Max Width 575px */
@media only screen and (max-width:575px){

    .table-sorting-wpr{
        gap: 24px;
    }

    .table-sorting-filter{
        width: max-content;
    }
    
}

/* Max Width 480px */
@media only screen and (max-width:480px){
   
    .header-right .btn{
        display: none;
    }

}

/* Max Width 416px */

@media only screen and (max-width:416px){

    .search input{
        width: 150px;
    }

    .search input::placeholder{
        color: transparent;
    }

    .table-toolbar h2{
        font-size: 28px;
        line-height: 40px;
    }

    .table-sorting-wpr{
        gap: 16px;
    }

    .table-sorting-filter{
        padding: 8px 0 8px 16px;
        border-radius: 5px;
    }

    .table-sorting-filter select{
        background-position-x: 90%;
        padding-right: 32px;
    }

}

/* Max Width 390px */

@media only screen and (max-width:390px){

    .container{
        max-width: 100% !important;
    }
    
}

/* Max Width 380px */

@media only screen and (max-width:380px){

    .header-left,
    .header-right{
        gap: 8px;
    }

    .table-sorting-wpr{
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* Max Width 320px */

@media only screen and (max-width:320px){

    
}